{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/addTool.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jersey+15&family=Sunflower:wght@300&display=swap" rel="stylesheet" />

    <title>Add Tool</title>
  </head>
  <body>
    <section class="header">
      <div class="header_left">
        <a href="{% url 'main_page' %}">
          <img src="{% static 'img/lightbulb.svg' %}" width="30" height="30" />
          <span class="header_left_text">My Idea Site</span>
        </a>
      </div>

      <div class="header_right">
        <span class="header_right_text"><a href="{% url 'add_idea' %}">Add Idea</a></span>
        <span class="header_right_text"><a href="{% url 'main_page' %}">Manage Ideas</a></span>
        <span class="header_right_text"><a href="{% url 'add_tool' %}">Add Tool</a></span>
        <span class="header_right_text"><a href="{% url 'manage_tools' %}">Manage Tools</a></span>
      </div>
    </section>

    <section class="bodyAll">
      <div class="bodybox">
        <div class="body_top">
          <div class="body_top_box">
            <span class="body_top_title">Add Tool</span>
            <span class="body_top_explain">개발툴 등록페이지 입니다. 자신이 다룰 수 있는 개발툴을 등록해보세요.</span>
          </div>
        </div>

        <div class="body_form">
          <form method="POST" action="{% url 'add_tool' %}">
            {% csrf_token %}
            <div class="title">
              <span class="span_small">이름: </span>
              <input class="input_box" type="text" name="title" />
            </div>

            <div class="type">
              <span class="span_small">종류: </span>
              <input class="input_box" type="text" name="type" />
            </div>

            <div class="explain">
              <span class="span_large">개발툴 설명: </span><br />
              <textarea class="input_box" name="explain" rows="6" cols="50"></textarea>
            </div>

            <div class="form_submit">
              <button type="submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
